block variables


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta name="keywords" content="造html_keywords造" />
        <meta name="description" content="造html_description造"/>
        title= title
        link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet')
        link(rel="stylesheet", href="./assets/styles/foundation.css")
        link(rel="stylesheet", href="./assets/styles/app.css")
    body
        .wrapper
            block content
        script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js')
        script(src="./assets/js/foundation.js")
        script(src="./assets/js/app.js")