extends ../main-layout

block variables
  -
    var title = "¤html_title¤";

block content
  include ../components/grand-menu 
  +grand-menu('step')
  include ../components/language 
  +language('step')
  include ../components/header
  +header('step')
  main(role="main").main.d-flex.justify-content-center.align-items-center
    section.step.step_1.text-center
      .container-fluid
        .row
          .col-12
            .step__head.text-uppercase
              p ¤Enter_your_email_address¤
            .step__text.step__text_gray
              p 
                | ¤Enter_your_email_address_to_input_field_below¤
                br
                | ¤and_then_click_CONTINUE_button.¤
            .step__form
              form
                .step__form-input
                  input(type="email", name="email" required value="igor@polyakov.org")
                .step__form-btn
                  button(type="submit").text-uppercase ¤Continue¤
            
  include ../components/footer 
  +footer('step')